extends layouts/main.pug

block content
  .form-container 
    .youtube__maintitle
      i.fab.fa-youtube
      |YouTube
    form(action=`/users${routes.changePassword}`, method="post")
      .form__input
        input(type="password" name="oldPassword" placeholder="현재 비밀번호" required=true)
        i.fas.fa-unlock-alt
      .form__input
        input(type="password" name="newPassword" placeholder="새 비밀번호" required=true)
        i.fas.fa-unlock
      .form__input
        input(type="password" name="verifyNewPassword" placeholder="새 비밀번호 확인" required=true)
        i.fas.fa-lock
      input(type="submit" value="비밀번호 변경")