extends layouts/main.pug

block content
  .form-container 
    .youtube__maintitle
      i.fab.fa-youtube
      |YouTube
    form(action=`/users${routes.changePassword}`, method="post")
      .form__input
        input(type="password" name="oldPassword" placeholder="Current Password" required=true)
        i.fas.fa-unlock-alt
      .form__input
        input(type="password" name="newPassword" placeholder="New Password" required=true)
        i.fas.fa-unlock
      .form__input
        input(type="password" name="verifyNewPassword" placeholder="Confirm New Password" required=true)
        i.fas.fa-lock
      input(type="submit" value="Change Password")