extends layouts/main.pug

block content
  .form-container
    .youtube__maintitle
      i.fab.fa-youtube
      |YouTube
    form(action=routes.editVideo(video.id), method="post")
      .form__input
        input(type="text", name="title", placeholder="비디오 제목" value=video.title)
        i.fa.fa-edit
      textarea(name="description" placeholder="비디오 설명")=video.description
      input(type="submit" value="비디오 업데이트")
    a.form-container__link(href=routes.deleteVideo(video.id)) 
      button.delete 비디오 삭제
    