extends layouts/main.pug

block content
  .form-container 
    .youtube__maintitle
      i.fab.fa-youtube
      |YouTube
    form(action=`/users/${routes.editProfile}`, method="post", enctype="multipart/form-data")
      .fileUpload.form__input
          input(type="file", name="avatar", id="avatar" accept="image/*")
          i.fas.fa-file-image
      .form__input
          input(type="text", name="name", placeholder="Name", value=loggedUser.name)
          i.fa.fa-user
      .form__input
          input(type="email", name="email", placeholder="Email", value=loggedUser.email)
          i.fa.fa-envelope
      input(type="submit" value="Update Profile")