extends layouts/main.pug

block content
  .form-container
    .youtube__maintitle
      i.fab.fa-youtube
      |YouTube
    form(action=routes.editVideo(video.id), method="post")
      .form__input
        input(type="text", name="title", placeholder="Video Title" value=video.title)
        i.fa.fa-edit
      textarea(name="description" placeholder="Description")=video.description
      input(type="submit" value="Update Video")
    a.form-container__link(href=routes.deleteVideo(video.id)) 
      button.delete Delete Video
    