extends layouts/main.pug

block content
  .form-container 
     .youtube__maintitle
      i.fab.fa-youtube
      |YouTube
     form(action=routes.login, method="post")
       .form__input
          input(type="email", name="email", placeholder="Email", required=true)
          i.fa.fa-envelope
       .form__input
          input(type="password", name="password", placeholder="Password", required=true)
          i.fas.fa-unlock
       input(type="submit", value="SIGN IN")
     include partials/socialLogin