.videoBlock {
  width: 270px;
  margin-bottom: 40px;
  video {
    width: 270px;
    height: 152px;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 11px;
  }
  video[poster]{
    width: 100%;
  }
  .videoBlock__thumbnail__content {
    padding-right: 10px;
    display: flex;
    .videoBlock__thumbnail__image {
      width: 35px;
      border-radius: 50%;
      img{
        width: 100%;
        border-radius: 50%;
      }
    }
    .videoBlock__thumbnail__main{
      padding-left: 10px;
      h4{
        font-size: 15px;
        font-weight: 400;
        color: black;
      }
      h5{
        color: gray;
        font-size: 14px;
        margin-top: 13px;
        margin-bottom: 7px;
      }
      .videoBlock__thumbnail__viewDate{
        display: flex;
        h6{
          color: gray;
          font-size: 14px;
        }
        em{
          margin: 0 5px;
          color: gray;
        }
      }
    }
  }
}