footer.footer 
  div.footer__icon
    //- <i class="fab fa-youtube"></i> 사실 가져온 html문법 그대로 써도 문제가 되진 않으나 가독성을 높이기 위해 퍼그 문법으로 다시 바꿔줌
    i.fab.fa-youtube
  span.footer__text &copy; #{new Date().getFullYear()} GW. All rights reserved.
