.home-container{
  display: flex;
  .home-menu{
    border: 5px solid red;
    flex:2;
    height: 100vh;
    .division-line{
      width: 100%;
      height: 1px;
      background-color: #e7e7e7;
    }
    .home-menu-item{
      i{
        color:#777;
      }
      span{
        color: black;
      }
    }
    .home-menu-main {
      
    }
  }
  .home-videos {
    border: 5px solid blue;
    flex:8;
    height: 100vh;

  }
}
