.user-profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  .user-profile-container{
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    padding: 35px;
    .user-profile__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      font-size: 12px;
      .profile_avatar{
        border: 1px solid #eee;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-bottom: 22px;
      }
      .profile__username {
        
      }
      .profile__email{
  
      }
      .profile__githubid{
  
      }
      .profile__kakaoid{
  
      }
      .profile__videos{
  
      }
    }
    .user-profile__header > div{
      margin-bottom: 6px;
      width: 200px;
      h4{
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: bold;
      }
      h5{
        margin-bottom: 8px;
        font-size: 12px;
      }
    }
    .user-profile__btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      a.edit_profile {
        display: inline-block;
        width: 200px;
        margin-bottom: 8px;
        button{
          background-color: $red;
          font-size: 12px;
          color: white;
        }
      }
      a.edit_password{
        display: inline-block;
        width: 200px;
        button{
          background-color: white;
          font-size: 12px;
          color: black;
        }
      }
    }
  }
  
}