doctype html
html
  head
    link(rel="shortcut icon", href="/static/youtube-favicon.png")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css")
    link(rel="stylesheet", href="/static/styles.css")
    title #{pageTitle} | #{siteName}
  body
    include ../partials/header.pug

    main
      block content
      
    include ../partials/footer.pug

    script(type="module" src="/static/main.js") 
