include ../mixins/message

doctype html
html
  head
    link(rel="shortcut icon", href="https://www.youtube.com/s/desktop/ba104690/img/favicon.ico")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css")
    link(href="https://fonts.googleapis.com/css2?family=Anton&display=swap")
    link(rel="stylesheet", href="/static/styles.css")
    title #{pageTitle} - #{siteName}
  body
    if messages.error 
      +message({
        type:"error",
        text:messages.error
      })
    else if messages.info 
      +message({
        type:"info",
        text:messages.info
      })
    else if messages.success 
      +message({
        type:"success",
        text:messages.success
      })

    include ../partials/header.pug
    main
      block content
    include ../partials/footer.pug

    script(type="module" src="/static/main.js") 
